@import '../../style/variables.scss';


.randomchar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    &__block {
        padding: 40px 35px;
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 30px;

    }

    &__img {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }

    &__info {
        display: grid;
        grid-template-rows: minmax(29px, auto) 90px 38px;
        row-gap: 10px;
        padding-top: 3px;
    }

    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
    }

    // &__name {
    //     height: 29px;
    //     width: 51px;
    //     left: 244px;
    //     border-radius: nullpx;
    //     font-size: 22px;
    //     font-weight: 700;
    //     line-height: 26px;
    //     letter-spacing: 0em;
    //     text-align: left;
    //     color: #000000;
    //     position: absolute;
    //     font-style: normal;
    //     font-size: 22px;
    // }

    // &__descr {
    //     position: absolute;
    //     width: 265px;
    //     height: 90px;
    //     font-family: 'Roboto Condensed';
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 16px;
    //     color: #000000;
    // }

    &__descr {
        font-size: 14px;
        line-height: 18px;
    }

    // &__btn-red {
    // position: absolute;
    // width: 101px;
    // height: 38px;
    // background: #9F0013;
    // height: 38px;
    // width: 101px;
    // left: 244px;
    // top: 103px;
    // border-radius: 0px;

    // border: 4px solid #ffffff;
    // border-radius: 10px;
    // clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
    .button {
        min-width: 101px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        transition: 0.3s transform;
        border: solid;
        background-color: transparent;
        cursor: pointer;

        &__red {
            border: $main-color ;
            position: relative;
            background-color: $main-color;
            line-height: 18px;
            padding: 0 18px;
            transition: none;

            &::after {
                border-color: $main-color transparent;
                border-style: solid;
                border-width: 0 0 10px 10px;
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: -10px;
                transform: rotate(180deg);
                transition: none;
            }

            &::before {
                border-color: $main-color transparent;
                border-style: solid;
                border-width: 0 0 10px 10px;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -10px;
                transition: none;
            }

        }



    }
}